<%= form_for(@developer) do |f| %>
  <% if @developer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@developer.errors.count, "error") %> This developer was rejected. Dev.shun activated because:</h2>

      <ul>
      <% @developer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="emailfield">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>
  <% if @developer.password_digest.nil? %>
    <div class="passwordfield">
      <%= f.password_field :password, placeholder: "Password" %>
    </div>
  <% end %>
  <div class="firstnamefield">
    <%= f.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div class="lastnamefield">
    <%= f.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div class="submitactions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
