<h1>Welcome Home Valient Developer</h1>
<h3>View your Projects</h3>
<div class="links">
  <%= link_to "View The Open Code", projects_path %>
</div>
<br>
<div class="links">
  <%= link_to "Create New Project", new_project_path %>
</div>
<h3>Create a Time Entry</h3>
<div class="links">
  <%= link_to "Document This Now", new_time_entry_path %>
</div>
<br>
<div class="links">
  <%= link_to "Puruse Your Time", time_entries_path %>
</div>
<br>
<% if @developer %>
  <table>
    <thead>
      <tr>
        <th>Developer Name </th>
        <th>Email</th>
        <th>Weekly Hours </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @developer.each do |developer| %>
        <tr>
          <td><%= developer.name %></td>
          <td><%= developer.email %></td>
          <td><%= developer.weekly_hours %></td>
          <td><%= link_to 'Show', developer %></td>
          <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
          <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
