<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">Developer Options</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><h3>Projects</h3></li>
        <li class="nav-link"><%= link_to "View your Projects", time_entries_path %></li>
        <li class="nav-link"><%= link_to "Create New Project", new_time_entry_path %></li>
        <li class="nav-link"><h3>Time Entries</h3></li>
        <li class="nav-link"><%= link_to "New Time Entry", new_project_path %></li>
        <li class="nav-link"><%= link_to "View Your Posted Time Entries", projects_path %></li>
        <li class="nav-link logo">
          <a href="javascript:void(0)" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>


<% if @developers %>
  <table class="table">
    <thead>
      <tr>
        <th>Developer Name </th>
        <th>Email</th>
        <th>Weekly Hours </th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @developers.each do |developer| %>
        <tr>
          <td><%= developer.name %></td>
          <td><%= developer.email %></td>
          <td class="<%= "over" if developer.over_forty? %>"><%= developer.weekly_hours %></td>
          <td><%= link_to 'Show', developer %></td>
          <td><%= link_to 'Edit', edit_developer_path(developer) %></td>
          <td><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
