
<div class="root-page">
  <h1>Welcome Valient Developer</h1>
  <div class="table-headers">
    <% if @developers %>
      <table class="index-table">
        <thead>
          <tr>
            <th><h4>Developer Name </h4></th>
            <th><h4>Email</h4></th>
            <th><h4>Weekly Hours </h4></th>
            <th colspan="9"></th>
          </tr>
        </thead>

        <tbody>
          <% @developers.each do |developer| %>
            <tr>
              <td><%= developer.name %></td>
              <td><%= developer.email %></td>
              <td class="<%= "over" if developer.over_forty? %>"><%= developer.weekly_hours %></td>
              <td><button><%= link_to 'Edit', edit_developer_path(developer) if Developer.find_by(id: session[:user_id])%></button></td>
              <% if developer.weekly_hours == 0 && Developer.find_by(id: session[:id])%>
                <td><button><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
