<% if flash[:notice] %>
  <div id="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash.now[:alert] %>
  <div id="alert"><%= flash.now[:alert] %></div>
<% end %>
<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <%= image_tag asset_url("Time-Tracking-300x300.png"), id: "time"%>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">Developer Options</a>
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><h4>Projects</h3></li>
        <li class="nav-link"><%= link_to "View your Projects", time_entries_path %></li>
        <li class="nav-link"><%= link_to "Create New Project", new_time_entry_path %></li>
        <li class="nav-link"><h3>Time Entries</h3></li>
        <li class="nav-link"><%= link_to "New Time Entry", new_project_path %></li>
        <li class="nav-link"><%= link_to "View Your Posted Time Entries", projects_path %></li>
        <li class="nav-link logo">
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="root-page">
  <div class="table-headers">
    <% if @developers %>
      <table class="index-table">
        <thead>
          <tr>
            <th><h4>Developer Name </h4></th>
            <th><h4>Email</h4></th>
            <th><h4>Weekly Hours </h4></th>
            <th colspan="9"></th>
          </tr>
        </thead>

        <tbody>
          <% @developers.each do |developer| %>
            <tr>
              <td><%= developer.name %></td>
              <td><%= developer.email %></td>
              <td class="<%= "over" if developer.over_forty? %>"><%= developer.weekly_hours %></td>
                <td><button><%= link_to 'Edit', edit_developer_path(developer)%></button></td>
                <td><button><%= link_to 'Destroy', developer, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
