<h1>Welcome Home Valient Developer</h1>
<h3>View your projects</h3>
<div class="links">
  <%= link_to "Create Open Code", projects_path %>
</div><br>
<h3>Create a Time Entry</h3>
<div class="links">
  <%= link_to "Document This Now", new_time_entry_path %>
</div><br>
<div class="links">
  <%= link_to "Puruse Your Time", time_entries_path %>
<div class="links">
  <%= link_to "Enter To Logout", logout_path, method: :delete %>
</div><br>
<div class = "links">
  <%= link_to "Enter New Info", edit_path %>
</div>
