<main class="cd-content">
  <div class="cd-container">
    <div class="form">
      <%= form_for @project do |f| %>

        <div class="form">
          <%= f.label "Project Name" %>
          <%= f.text_field :name %>
        </div>
        <div class="form">
          <%= f.label :allowed_hours %>
          <%= f.text_field :allowed_hours %>
        </div>
        <div class="submitactions">
          <%= f.submit "Submit"%>
        </div>
      <% end %>
    </div>
  </div>
</main>
