<div class="root-page">
  <h1>Projects.where(Work needs to be done)</h1>

  <% if @projects %>
    <table>
      <thead>
        <tr>
          <th>Project Name </th>
          <th>Maximum Hours </th>
          <th>Hours Logged </th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.name %></td>
            <td><%= project.allowed_hours %></td>
            <td class="<%= "over" if project.over_maximum? %>"><%= project.hours_logged %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <% if project.hours_logged == 0 %>
              <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
