<div class="time-page">
  <h1>Time Waits For None </h1>
  <% if @time_entries %>
    <table>
      <thead>
        <tr>
          <th><h4>Project Name</h4> </th>
          <th><h4 class="table-head">Duration</h4> </th>
          <th><h4 class="table-head">Date </h4></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @time_entries.each do |time_entry| %>
          <tr>
            <td><%= time_entry.project.name %></td>
            <td class="table-body"><%= time_entry.duration %></td>
            <td class="table-close"><%= time_entry.date %></td>
            <td><button><%= link_to 'Edit', edit_time_entry_path(time_entry) %></button></td>
            <td><button><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <br>
</div>
