<section id="cd-intro">
  <div id="cd-table-background"></div>
	<div id="cd-intro-tagline">
    <h1>Time Waits For None </h1>
    <div class="table-headers">
    <% if @time_entries %>
      <table cellspacing="0" cellpadding="0">
        <thead>
          <section class="parent">
            <tr>
              <th class="child child--one"><h4>Project Name</h4> </th>
              <th class="child child--two"><h4>Duration</h4> </th>
              <th class="child child--three"><h4>Date </h4></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @time_entries.each do |time_entry| %>
              <tr>
                <td class="child child--one"><%= time_entry.project.name %></td>
                <td class="child child--two"><%= time_entry.duration %></td>
                <td class="child child--three"><%= time_entry.date %></td>
                <td><button><%= link_to 'Edit', edit_time_entry_path(time_entry) %></button></td>
                <td><button><%= link_to 'Destroy', time_entry, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</section>

<main class="cd-content">
  <div class="cd-container">
    <h2>Time Slowly Ticks Away</h2>
  </div>
</main> <!-- cd-content -->
