<!DOCTYPE html>
<html>

<head>
  <title>TimeTrackerApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer >
  <div >
    <img src="" alt="Logo image">
  </div>
      <ul class="">
        <h1>Time Tracker</h1>
        <span><li><%= link_to "Home", developers_path if session[:user_id]%></li></span>
      </ul>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:alert] %>
        <div class="alert"><%= flash[:alert] %></div>
      <% end %>
</footer>

</head>
<body>


<%= yield %>
<!--<div class="wrapper-for-content-outside-of-footer">
   Uncomment this whole section for a sticky footer. The content of the page should be inside of this .wrapper-for-content-outside-of-footer
</div>-->

<footer class="">
  <div class="">
    <img src="" alt="Logo image">
  </div>
    <ul>
      <span><li><%= link_to "Logout", logout_path, method: :delete if session[:user_id]%></li></span>
      </div>
    </ul>
</footer>


</body>
</html>
